<div class="card bg-light">
  <div class="card-body">
    <h4 class="card-title text-center">Crear nueva cita</h4>
    <div *ngIf="formIncorrecto" class="text-center">
      <div class="badge bg-danger">Todos los campos son requeridos</div>
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input
        [(ngModel)]="nombre"
        type="text"
        id="nombre"
        class="form-control"
        placeholder="Ingrese su nombre"
      />
    </div>
    <div class="form-group mb-3">
      <label for="fecha">Fecha</label>
      <input [(ngModel)]="fecha" type="date" id="fecha" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <label for="hora">Hora</label>
      <input [(ngModel)]="hora" type="time" id="hora" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <label for="sintomas">Sintomas</label>
      <textarea
        [(ngModel)]="sintomas"
        id="sintomas"
        class="form-control"
        rows="3"
        placeholder="Sintomas"
      >
      </textarea>
    </div>

    <button (click)="agregarCita()" class="btn btn-primary btn-block">
      Crear nueva cita
    </button>
  </div>
</div>
